*{
    box-sizing: border-box;
}
h1{
    font-family:Arial, Helvetica, sans-serif;
}
h3{
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;

}
h2{
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    
}
.boton{
    border: 1px solid black;
    padding: 8px;
    background-color:red;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    margin-top: 9px;
    width: 25%;
    height: 2em; 
}
.bon{
    border: 1px solid black;
    padding: 8px;
    background-color:green;
    color: black;
    text-decoration: none;
    /*text-transform: uppercase;*/
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    margin-top: 9px;
    width: 20%;
    height: 2em; 

}
body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 15px;
    margin-top: 0px;

}
header{
    width: 100%;
    height: 250px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 30px;
    color: green;
    background-color: red;
}
header img{
    float: left;
    width: 100px;
    margin-left: 0px;
    padding-top: 0px;
}
header h1{
    font-size: 40px;
    margin-right: 150px;
}

.menu{
    width: 100%;
    height: 35px;
    background-color:green;
    text-align: center;
    color:RED;
    padding: 10px 0px;
}
main{
   content: "";
   display: table;
   width: 100%;
   margin: 0px;
   padding: 10px;
   text-align: center;
   background-color: green;
}
section{
    float: left;
    width: 74%;
    height: 15em;
    background-color: red;
    border-radius: 10px;
    padding: 10px;
    padding-top: 0px;
    text-align: center;
}
aside{
    float: right;
    width: 25%;
    height: 15em;
    padding: 0px;
    background-color:red;
    border-radius: 10px;
}
article{
   
    width: 100%;
    height: 4.5em;
    background-color:green;
    margin-top: 5px;
    padding: 10px;
    border-radius: 10px;
}
footer{
    display: inline-block;
    width: 100%;
    height: 5em;
    background-color: red;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 20px;
    text-align: center;
    color: #9bd0ae;
}
 body h1{
    text-align:center;
    color: black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;

    
  
}
body h2{
    font-family: Arial, Helvetica, sans-serif;
}
body p{
    text-align: justify;
    color: #000;
}


.img{
    margin: 25px 13px 7px 370px;
}
.contenedor{
    display: flex;
}
.imagen{
    margin: 5px 13px 7px 400px;
    

}
 
.titulo{
    color: #000;
    font-size: 22px;
}
.titulo1{
    text-align: center;
    font-size: 30px;
}


